{% extends 'instituicao/cadi-base.html' %}

{% block content %}
<section class="form-container container">
    <div class="row">

        
        <div class="col-md-12">
            <h1>{{instituicao.nome}}</h1>
        </div>

        <hr>

        <div class="col-md-12">
            <!-- Identificação -->
            <section class="mb-5">
                <h3>Identificação</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Nome da instituição</th>
                            <td>{{instituicao.nome}}</td>
                        </tr>
                        <tr>
                            <th>Sigla da instituição</th>
                            <td>{{instituicao.sigla}}</td>
                        </tr>
                        <tr>
                            <th>CNPJ</th>
                            <td>{{instituicao.cnpj}}</td>
                        </tr>
                        <tr>
                            <th>Razão social</th>
                            <td>{{instituicao.razao_social}}</td>
                        </tr>
                        <tr>
                            <th>Código no CI</th>
                            <td>281517000007</td>
                        </tr>
                        <tr>
                            <th>Idioma</th>
                            <td>{{instituicao.idioma}}</td>
                        </tr>
                        <tr>
                            <th>Situação</th>
                            <td>{{instituicao.situacao_cadastral}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Endereço -->
            <section class="mb-5">
                <h3>Endereço</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Endereço</th>
                            <td>{{instituicao.endereco}}</td>
                        </tr>
                        <tr>
                            <th>Bairro</th>
                            <td>{{instituicao.bairro}}</td>
                        </tr>
                        <tr>
                            <th>Município</th>
                            <td>{{instituicao.municipio}}</td>
                        </tr>
                        <tr>
                            <th>UF</th>
                            <td>{{instituicao.uf}}</td>
                        </tr>
                        <tr>
                            <th>CEP</th>
                            <td>{{instituicao.cep}}</td>
                        </tr>
                        <tr>
                            <th>País</th>
                            <td>{{instituicao.pais}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Dados para contato -->
            <section class="mb-5">
                <h3>Dados para Contato</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>DDD</th>
                            <td>84</td>
                        </tr>
                        <tr>
                            <th>Telefone 1</th>
                            <td>{{instituicao.telefone1}}</td>
                        </tr>
                        <tr>
                            <th>FAX</th>
                            <td>{{instituicao.fax}}</td>
                        </tr>
                        <tr>
                            <th>E-mail institucional</th>
                            <td>{{instituicao.email}}</td>
                        </tr>
                        <tr>
                            <th>Website</th>
                            <td><a
                                    href="">{{instituicao.website}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Classificação -->
            <section class="mb-5">
                <h3>Classificação</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Natureza jurídica</th>
                            <td>{{instituicao.natureza_juridica}}</td>
                        </tr>
                        <tr>
                            <th>Categoria administrativa</th>
                            <td>{{instituicao.categoria_administrativa}}</td>
                        </tr>
                        <tr>
                            <th>Setor da Atividade Econômica</th>
                            <td>{{instituicao.setor_atividade}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Histórico da instituição -->
            <section class="mb-5">
                <h3>Histórico da Instituição</h3>
                <p class="text-justify">
                    {{instituicao.historico}}
                </p>
            </section>

            <!-- Missão da instituição -->
            <section class="mb-5">
                <h3>Missão da Instituição</h3>
                <p class="text-justify">
                    {{instituicao.missao}}
                </p>
            </section>

            <!-- Titular da Instituição -->
            <section class="mb-5">
                <h3>Titular da Instituição</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Nome completo</th>
                            <td>{{instituicao.nome_representante}}</td>
                        </tr>
                        <tr>
                            <th>País de nascimento</th>
                            <td>{{instituicao.pais}}</td>
                        </tr>
                        <tr>
                            <th>Telefone</th>
                            <td>{{instituicao.telefone2}}</td>
                        </tr>
                        
                        <tr>
                            <th>Situação</th>
                            <td>{{instituicao.situacao_cadastral}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</section>
{% endblock content %}